@import "tailwindcss";

@layer base {
  *,
  ::before,
  ::after {
    overflow-wrap: break-word;
    word-break: break-word;
    box-sizing: border-box;
  }

  html,
  body {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
